export const iconList = [<% files.forEach(function(file,index) { %>
    "<%- file.name %>"<% if(index < files.length -1){ %>,<% } -%>
<% }); %>
];

export const iconListType = [...iconList] as const;

export enum Icons {<% files.forEach(function(file,index) { %>
    <%- upperSnakeCase(file.name) %> = "<%- file.name %>"<% if(index < files.length -1){ %>,<% } -%>
<% }); %>
}
