/* body {
  --foreground: var(--ol-foreground);
  --primary: var(--ol-primary);
  --warning:var(--ol-warning);
  --error:var(--ol-error);
  --warning-text:var(--ol-warning-text);
  --error-text:var(--ol-error-text);
} */
