@use "sass:map";

$colors: (
  dark: #0a113a,
  light: #fff,
  primary: #ffb70f,
  secondary: #2bcd92,
  error: #e3471c,
  warning: #fac413,
);

@import "../node_modules/@sil/sass-utils";

:root {
  --border-radius: 0.33em;
  --space: 1em;
  --space-l: 2em;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include get-darkmode();
  }
}
@media (prefers-color-scheme: light) {
  :root {
    @include get-lightmode();
  }
}
body[color-mode="dark"] {
  @include get-darkmode();
}

body[color-mode="light"] {
  @include get-lightmode();
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body,
html {
  margin: 0;
  padding: 0;
}
