@use "sass:map";

$colors: (
  dark: #0a113a,
  light: #fff,
  primary: #f89afd,
  secondary: #2bcd92,
  error: #e3471c,
  warning: #fac413,
);

@mixin getColorVariables($name,$value){
  --#{$name}: rgba(var(--#{$name}-r),var(--#{$name}-g),var(--#{$name}-b), var(--#{$name}-opacity,1));
  --#{$name}-r: #{red($value)};
  --#{$name}-g: #{green($value)};
  --#{$name}-b: #{blue($value)};
}

:root{
  @each $name, $value in $colors{
    @include getColorVariables($name, $value);
  }
}

:root {
  --border-radius: 0.33em;
  --space: 1em;
}
@media (prefers-color-scheme: dark) {
  :root {
    @include getColorVariables('background',map.get($colors,'dark'));
    @include getColorVariables('foreground',map.get($colors,'light'));
  }
}
@media (prefers-color-scheme: light) {
  :root {
    @include getColorVariables('background',map.get($colors,'light'));
    @include getColorVariables('foreground',map.get($colors,'dark'));
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
